*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container{
   max-width: 500px;
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0 auto;
   margin-bottom: 40px;
   background-color: rgb(116, 112, 112);
   padding: 10px;
}

.h1{
   color: white;
}

.btnWrap{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.btn{
   width: 100px;
   height: 35px;
   font-size: 24px;

}